/* Wrapper to keep footer at the bottom if content is limited */

main {
    flex: 1; /* Allows main content to expand and push footer to the bottom */
}

.footer-container {
    position: relative; /* Establishes a positioning context for the pseudo-element */
    padding: 20px;
    overflow: hidden; /* Ensures the pseudo-element doesn't overflow the container */
    display: flex;
}

.footer-container::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/favicon.ico'); /* Adds the icon as a background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: right center; /* Positions the image to the right */
    background-size: auto 90%; /* Adjusts the size of the image */
    filter: invert(1) opacity(0.1); /* Inverts the colors and adds opacity */
}


.left-container {
    width: 30%;
    font-size: 0.9rem;
}

.right-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0% 5% 0% 0%;
    bottom: 0px;
}

.title {
    font-size: 2.75rem;
    text-align: right;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 1.25rem;
    text-align: right;
    margin: -10px 25px 0 0;
    padding: 0;
}

button {
    opacity: 0.5;
    
}

.icon-links {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.icon {
    font-size: 1.25rem;
    /* padding: 10px; */
}

.icon a {
    position: relative;
    pointer-events: auto; /* Ensures the links are clickable */
    z-index: 1; /* Ensures the links are above other elements */
    color: black;
    opacity: 0.8;

}

.icon a:hover {
    opacity: 1;
    /* cursor: pointer; */
}