<footer>
    <section>
        <div class="logo">
            <img src="/favicon.ico">
            <h1>final touch co.</h1>
        </div>
        <div>
            <nav>
                <ul class="nav-links">
                <li><a href="https://mydreamweddingbycass.etsy.com">ETSY SHOP</a></li>
                <li><a href="https://mydreamweddingbycass.etsy.com">CONTACT US</a></li>

            </ul>
            </nav>
            <div class="footnote">
                <!-- <small>Trademarks here</small> -->
            </div>
        </div>
    </section>
</footer>
  