<footer class="footer-container green-background">
    <div class="left-container">
        <p>Final Touch Co. offers event decor rentals in Boise and the Treasure Valley. As a solo owner, my collection is curated, with most pieces thrifted and sustainably sourced. I provide unique, high-quality decor while minimizing environmental impact. Reach out with any questions—I’d love to help make your event memorable!</p>
        <div class="icon-links">
            <div class="email-icon icon">
                <a href="mailto:finaltouchco.info@gmail.com" target="_blank" rel="noopener noreferrer" class="white-font">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="instagram-icon icon">
                <a href="https://www.instagram.com/final.touch.co/" target="_blank" rel="noopener noreferrer" class="white-font">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="facebook-icon icon">
                <a href="https://www.facebook.com/profile.php?id=61573848536553" target="_blank" rel="noopener noreferrer" class="white-font">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        <!-- <button class="button-theme white-background">contact us</button> -->
    </div>
    <div class="right-container">
        <div class="title-container">
            <p class="title">final touch co.</p>
            <p class="subtitle">event rentals</p>
        </div>
    </div>
</footer>