<body>
    <div class="image-side">
        <img class="hero-image" src="/images/hero.png">
    </div>
    <div class="text-side">
        <div class="flower-text-container">
            <img class="flower-image" src="/images/flower.png">
            <p class="location-text secondary-font green-font">SERVING BOISE AND THE TREASURE VALLEY</p>
        </div>
        
        <h1>Elevate Your Event with Beautiful, Earth-Friendly Decor Rentals
        </h1>
        <button routerLink="/shop" class="button-theme light-pink-background">shop now</button>
        <br><br>
    </div>
</body>
