body {
    display: flex; /* Ensure the component occupies space */
    background-color: #FAFAF5;
    gap: 60px;
    height: 100vh;
}


.text-side {
    width: 55%;
    height: 100%; /* Change to 100% to use full height from the parent */
    display: flex; /* Enable Flexbox for vertical centering */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center content vertically */
    text-align: left; 
}

.image-side {
    width: 45%;
    height: 100%; /* Change to 100% to use full height from the parent */
    display: flex; /* Enable Flexbox for vertical centering */
    justify-content: right; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.hero-image {
    max-width: 410px;
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
}

h1 {
    /* text-align: center; */
    font-size: 40px;
    font-weight: normal;
    width: 65%;
    line-height: 1.25; /* Adjust the line height */

}

.flower-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-text {
    margin-left: -90px;
    font-weight: bold;
}

.flower-image {
    width: 180px;
}


/* Responsive Design for smaller screens */
@media (max-width: 915px) {

    body {
        flex-direction: column;
        height: 100%;
    }

    .text-side {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
    .image-side {
        width: 100%;
        justify-content: center; /* Center content horizontally */
    }

}
