body {
    min-height: 100vh;
}

.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.product-list {
    /* border: 1px solid red; */
    width: 80%;
}