<body>
    <div class="container">
        <div class="sidebar">
            <div class="title-container sidebar-container">
                <img class="favicon" src="favicon.ico">
                <h2 class="title">Final Touch</h2>
                <h3 class="subtitle">Backoffice</h3>
            </div>
            <div class="links-container sidebar-container">
                <a routerLink="home" class="links">DASHBOARD</a>
                <a routerLink="reservations" class="links">ORDERS</a>
                <a routerLink="products" class="links">PRODUCTS</a>
                <a routerLink="messages" class="links">MESSAGES</a>
            </div>
            <div class="frontoffice-container sidebar-container">
                <a routerLink="/" class="links">FRONT OFFICE</a>
            </div>
        </div>

        <!-- Scrollable content area for routed views -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>
