<div class="product-item">
    <div class="image-placeholder">
      <div class="image-container">
        <!-- <div class="custom-hover-container"> -->
          <p *ngIf="product.custom" class="custom-text white-font secondary-font" alt="Custom Icon">CUSTOM</p>
          <!-- <span class="tooltip-text"><b>Custom Item</b><br>This item is customizable, read description for more details.</span> -->
        <!-- </div> -->
        <img src="/images/stock_photo.png" alt="{{ product.name }}" class="product-image" (load)="onImageLoad($event)"> <!-- todo remove this and call product image -->        
        <!-- <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" (load)="onImageLoad($event)"> -->
      </div>
    </div>
    <div class="item-info black-font">
      <p class="product-name black-font">{{ product.name }}</p>
      <!-- <p class="info-count">{{ product.count }} avaliable</p> -->
      <p class="info-price black-font">${{ product.price }}</p>
    </div>
</div>
