.product-item {
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    transition: transform 0.2s;
    color: #454545;
  }
  
.product-item:hover {
    transform: scale(1.05);
}

.product-line {

    border:1px solid #454545;
    border-left: none;
    border-right: none;
    margin-top: -5px;
    margin-bottom: -5px;
}

.product-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 4/5;
}

.product-name {
    font-size:1.5rem;
    font-weight: normal;
}

.item-info {
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

.info-count {
    font-weight: normal;
}

.info-price {
    margin-left: auto;
    font-weight: normal;

}
