body {
    background-color: #C6CED6;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 0;
    color: #454545;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 45px;
}

.form-description {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.form-body {
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
}

.form-body-inputs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 210px; /* Adjust height as needed */
    margin: 35px;
}

.form-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
}

.form-message {
    width: 50%;
    height: 100%; /* Ensures it takes the full height of its parent container */
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-message .form-item {
    height: 100%;
}

.form-item label {
    margin-bottom: -15px;
    z-index: 1;
    font-weight: bold;

}

input, textarea {
    padding: 15px;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(246, 246, 246);
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FAFAF5;
}

textarea {
    resize: none;
    height: 100%;
    overflow-y: auto; /* Enables vertical scroll */
    background-color: rgb(246, 246, 246);
}

.submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

button p {
    margin-top: -10px;
    font-weight: bold;
}

button {
    background-color: #DFA1A3;
    /* border-radius: 1px; */
    border-style: none;
    box-sizing: border-box;
    color: #454545;
    cursor: pointer;
    display: inline-block;
    font-family: "Philosopher", sans-serif;
    font-size: 16px;
    height: 15px;
    width: 250px;
    list-style: none;
    margin: 0;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #d0888a;
}

/* Responsive adjustments */
@media (max-width: 600px) {

    .form-body-inputs {
        flex-direction: column;
        margin: 0px;
        height: 100%;
        align-items: center;
    }

    .form-items, .form-message {
        width: 75%;
    }

    .form-body {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}