<body class="blue-background">
    <div class="boxes">
        <a [routerLink]="['/shop']" class="box box1">
            <img class="box box1" src="images/quick-view-icons/signage.png">
        </a>
        <a [routerLink]="['/shop']" class="box box1">
            <img class="box box1" src="images/quick-view-icons/lighting.png">
        </a>
        <a [routerLink]="['/shop']" class="box box1">
            <img class="box box1" src="images/quick-view-icons/florals.png">
        </a>
        <a [routerLink]="['/shop']" class="box box1">
            <img class="box box1" src="images/quick-view-icons/tablesettings.png">
        </a>
    </div>
</body>