<body class="blue-background">
    <div class="boxes">
        <a [routerLink]="['/shop']" [queryParams]="{ type: 'Signage' }" class="box-container box1-container">
            <img class="box box1" src="images/quick-view-icons/signage.png">
        </a>
        <a [routerLink]="['/shop']" [queryParams]="{ type: 'Lighting' }" class="box-container box2-container">
            <img class="box box2" src="images/quick-view-icons/lighting.png">
        </a>
        <a [routerLink]="['/shop']" [queryParams]="{ type: 'Florals' }" class="box-container box3-container">
            <img class="box box3" src="images/quick-view-icons/florals.png">
        </a>
        <a [routerLink]="['/shop']" [queryParams]="{ type: 'Table Settings' }" class="box-container box4-container">
            <img class="box box4" src="images/quick-view-icons/tablesettings.png">
        </a>
    </div>
</body>