<body>
  <span class="red-box red-background"></span>
  <div class="container">
      <section class="custom-left-container">
        <img class="custom-image" src="/images/about-me.jpg">
      </section>
      <section class="custom-right-container">
        <p class="cursive-font title-name red-font">Hi, I'm Cass</p>
        <p class="page-title">FOUNDER & ARTIST</p>
        <p class="custom-text">
          As a former DIY bride, I understand the struggle of finding beautiful decor on a budget. 
          Buying new is often expensive, and the question of what to do with everything afterward 
          can be overwhelming. That’s why I created a sustainable, affordable alternative: renting. 
          By renting decor, you help reduce waste, conserve resources, and limit the demand for 
          mass-produced items. Plus, you get access to a curated collection of pieces that would 
          be hard to gather on your own!
          <br><br>Browse my inventory to find what suits your style! Reservations can be booked up to a 
          year in advance. Once booked, I'll reach out to ensure every detail meets the needs of your 
          special day. 
            </p>
    </section>
  </div>
</body>