* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.about-section {
  display: flex; /* Creates a flex container */
  flex-direction: row; /* Aligns children side by side */
  justify-content: space-between; /* Ensures the children are spaced out */
  align-items: stretch; /* Ensures both sections stretch to the same height */
  min-height: 90vh; /* Makes the section take up the full viewport height */
}

.about-me-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the text vertically */
  padding: 80px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  padding: 80px;
  position: relative
}

.image {
  width: 100%; /* Ensures the image scales to fit the container */
  height: 100%; /* Ensures the image scales to fit the container */
  padding: 0; /* Removes any default padding from the image itself */
  object-fit: cover;
  z-index: 1; /* Ensures it appears above other elements (higher value = on top) */

}

.title {
  font-size: 3rem; /* Adjusts the font size of the title */
  margin: 0;
  font-style: italic;
}

.title-name {
  font-size: 1.25rem; /* Adjusts the font size of the name */
  margin: 0;
  margin-left: 20px;
}

.profile-box {
  font-size: 1.25rem;
}

.flower {
  position: absolute; /* Removes the element from the normal document flow */
  bottom: 0px; /* Adjusts the vertical position */
  left: -20px; /* Adjusts the horizontal position */
  height: 230px; /* Sets the size of the image */
  z-index: 2; /* Ensures it appears above other elements (higher value = on top) */
  pointer-events: none; /* Prevents the image from interfering with clicks on other elements */
}

.leaf {
  position: absolute; /* Removes the element from the normal document flow */
  top: 0; /* Adjusts the vertical position */
  right: -20px; /* Adjusts the horizontal position */
  height: 220px; /* Sets the size of the image */
  z-index: 0; /* Ensures it appears below other elements (negative value = behind) */
  pointer-events: none; /* Prevents the image from interfering with clicks on other elements */
}

@media (max-width: 915px) {

  .about-section {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center; /* Centers the items vertically */
  }

  .about-me-container, .image-container {
    width: 100%;
    padding: 40px; /* Reduces padding for smaller screens */
  }

  .title {
    font-size: 2.5rem; /* Adjusts the font size of the title */

  }

  .image {
    width: 80%;
    height: 80%;
  }


}

@media (max-width: 500px) {

  .about-me-container, .image-container {
    padding: 30px; /* Reduces padding for smaller screens */
  }

  .profile-box {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem; /* Adjusts the font size of the title */

  }
  
  .title-name {
    font-size: 1rem; /* Adjusts the font size of the name */
    margin-left: 15px;
  }

  .image {
    width: 100%;
    height: 100%;
  }


  .flower {
    left: -20px; /* Adjusts the horizontal position */
    height: 160px; /* Sets the size of the image */
  }

  .leaf {
    right: -30px; /* Adjusts the horizontal position */
    height: 170px; /* Sets the size of the image */
  }

}