body {
  margin: 0;
  padding: 0;
}

.about-section {
  display: flex; /* Creates a flex container */
  flex-direction: row; /* Aligns children side by side */
  justify-content: space-between; /* Ensures the children are spaced out */
  align-items: stretch; /* Ensures both sections stretch to the same height */
  height: 90vh; /* Makes the section take up the full viewport height */
}

.about-me-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the text vertically */
  padding: 80px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  padding: 80px;
  position: relative
}

.image {
  width: 100%; /* Ensures the image scales to fit the container */
  height: 100%; /* Ensures the image scales to fit the container */
  padding: 0; /* Removes any default padding from the image itself */
  object-fit: cover;
  z-index: 1; /* Ensures it appears above other elements (higher value = on top) */

}

.title {
  font-size: 3rem; /* Adjusts the font size of the title */
  margin: 0;
  font-style: italic;
}

.title-name {
  font-size: 1.25rem; /* Adjusts the font size of the name */
  margin: 0;
  margin-left: 20px;
}

.profile-box {
  font-size: 20px;
}

.flower {
  position: absolute; /* Removes the element from the normal document flow */
  bottom: 0px; /* Adjusts the vertical position */
  left: -20px; /* Adjusts the horizontal position */
  height: 230px; /* Sets the size of the image */
  z-index: 2; /* Ensures it appears above other elements (higher value = on top) */
  pointer-events: none; /* Prevents the image from interfering with clicks on other elements */
}

.leaf {
  position: absolute; /* Removes the element from the normal document flow */
  top: 0; /* Adjusts the vertical position */
  right: -20px; /* Adjusts the horizontal position */
  height: 220px; /* Sets the size of the image */
  z-index: 0; /* Ensures it appears below other elements (negative value = behind) */
  pointer-events: none; /* Prevents the image from interfering with clicks on other elements */
}