<div class="about-me-container">

  <div class="about-me">
    <h2>Hey, I'm Cass!</h2>    
    <p class="profile-box">
      As a former DIY bride, I understand the struggle of finding beautiful decor on a budget. 
      Buying new is often expensive, and the question of what to do with everything afterward 
      can be overwhelming. That’s why I created a sustainable, affordable alternative: renting. 
      By renting decor, you help reduce waste, conserve resources, and limit the demand for 
      mass-produced items. Plus, you get access to a curated collection of pieces that would 
      be hard to gather on your own!
      <br>Browse my inventory to find what suits your style! Reservations can be booked up to a 
      year in advance. Once booked, I'll reach out to ensure every detail meets the needs of your 
      special day. 
      <br>Didn't find what you're looking for? Reach out! I'm always looking to expland my inventory.
    </p>
  </div>

  <div class="about-me-image">
    <img src="/images/about-me.png" alt="image">
  </div>

</div>