<body class="pink-background">
    <div class="item-banner secondary-font white-font">
      <!-- <div class="scrollable-items" #scrollableItems>
        <p *ngFor="let word of duplicatedWords">{{ word }}</p>
      </div> -->
      <!-- <p class="item">✦</p> -->
      <p class="item">WEDDINGS</p>
      <p class="item">✦</p>
      <p class="item">SHOWERS</p>
      <p class="item">✦</p>
      <p class="item">BIRTHDAY PARTIES</p>
      <p class="item">✦</p>
      <p class="item">REHERSAL DINNERS</p>
      <p class="item">✦</p>
      <p class="item">QUINCEANERAS</p>
      <!-- <p class="item">✦</p> -->
    </div>
  </body>