.cart-page {
  flex: 1; /* Allows the cart page to grow and fill the available space */
  display: flex;
  flex-direction: column; /* Ensures content inside the cart page is stacked */
  min-height: 68vh; /* Ensures it stretches to fill the height */
}

.cart-empty {
  text-align: center;
  margin: 30px;
  font-weight: normal;
}

.cart-full {
  padding: 50px;
  padding-top: 0;
  display: flex;
  gap: 25px;
}


.grid-header {
  display: grid;
  grid-template-columns:  1fr 3fr 1fr 2fr 1fr; /* Each item will take at least 200px and can stretch */
  gap: 16px; /* Space between grid items */
  width: calc(100% - 30px);
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: .8rem;
}

.cart-items-list {
  width: 70%;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 180px;
}

.cart-item-image {
  width: 100%; /* Image spans full width of its cell */
  object-fit: cover;
  aspect-ratio: 3/4;
}
  
.cart-item-details {
  display: grid;
  grid-template-columns:  1fr 3fr 1fr 2fr 1fr; /* Each item will take at least 200px and can stretch */
  gap: 16px; /* Space between grid items */
  width: calc(100% - 30px);
  height: calc(100% - 30px); 
  margin: 15px; 
  flex-direction: row;
  align-items: center;
}

.cart-item-details h2 {
  font-weight: 100px;
}

.remove-button {
  background-color: #FAFAF5;
  border: none;
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  height: 3vw;
  cursor: pointer;
}

.remove-button:hover,
.remove-button:focus {
  color: rgb(130, 130, 130);
}

.cart-pricing {
  background-color: rgb(231, 231, 231);
  padding: 15px;
}

.price-info {
  padding: 10px;
}

.cart-pricing h1 {
  font-size: 26px;
}

.cart-pricing p {
  font-size: 18px;
}

.cart-total-list {
  width: 30%;
}

.checkout-button {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.checkout-button:hover,
.checkout-button:focus {
  background-color: #C5CAB9;
}

.deposit-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text and icon */

}
  
.info-hover-container {
  position: relative;
  display: inline-block;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: #333;  /* Dark gray or any preferred color */
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.tooltip-text {
  visibility: hidden;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.info-hover-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 915px) {


  .cart-item-details h2 {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
    
  }

  .cart-full {
    flex-direction: column;
    padding: 10px;
  }

  .cart-items-list {
    width: 100%;
  }

  .cart-total-list {
    max-width: 500px;
    width: 90%;
    align-self: center;
    margin-bottom: 50px;
  }

}


@media (max-width: 500px) {

  .cart-item {
    height: auto;

  }

}