<header>
    <a href="/" class="title">final touch co.</a>
    <nav>
        <ul class="nav-links left-links">
            <li><a href="/home" class="links">HOME</a></li>
            <li><a href="/#about" class="links">ABOUT</a></li>
            <li><a href="/inspo" class="links">INSPO</a></li>
        </ul>
        <ul class="nav-links right-links">
            
            <li><a href="/shop" class="links">SHOP</a></li>
            <li class="cart-link-container">
                <a href="/cart" class="links">CART</a>
                <span class="cart-notification" *ngIf="cartCount > 0">{{ cartCount }}</span>
            </li>
        </ul>
    </nav>
</header>
