<!-- <header class="tan-background">
     <img src="/logo.png" alt="Final touch" class="logo" />
    <nav>
        <ul class="nav-links left-links">
            <li><a href="/home" class="links">home</a></li>
            <li><a href="/inspo" class="links">inspo</a></li>
        </ul>
        <ul class="nav-links right-links">
            
            <li><a href="/shop" class="links">shop</a></li>
            <li class="cart-link-container">
                <a href="/cart" class="links">cart</a>
                <span class="cart-notification" *ngIf="cartCount > 0">{{ cartCount }}</span>
            </li>
        </ul>
    </nav>
</header> -->

<header class="tan-background">
    <a href="/home" class="logo-container">
        <img src="/logo.png" alt="Final touch" class="logo"/>
    </a>
    <nav class="nav-links">
        <a href="/home" class="links">Home</a>
        <a href="/shop" class="links">Shop</a>
        <a href="/inspo" class="links">Inspo</a>         
        <div class="cart-link-container">
            <a href="/cart"><i class="fa fa-shopping-cart links cart-icon"></i></a>
            <span class="cart-notification" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </div>
   </nav>
</header>