<div class="cart-item-details">
    <img (click)="routeToProduct()" [src]="this.item.imageUrl" alt="{{ this.item.name }}" class="cart-item-image">
    <div class="product-title" (click)="routeToProduct()">{{ item.name }}
      <div *ngIf="hasDateErrors" class="info-hover-container price-error">
        <span class="info-icon">!</span>
         <span class="tooltip-text">This item is no longer avaliable for your desired date</span>
      </div>
    </div>
  <p class="item-info">${{ this.item.price }}</p>
  <p class="item-info">{{ formatDateRange(this.item.datesReserved) }}</p>
  <button class="remove-button white-background" (click)="removeItem()" alt='remove'>X</button>
</div>