
  
  .cart-item-image {
    width: 100%; /* Image spans full width of its cell */
    object-fit: cover;
    aspect-ratio: 3/4;
  }

  .product-title {
    font-size: 1.25rem;
  }

  .product-title:hover {
    cursor: pointer;
  }
    
  .cart-item-details {
    display: grid;
    grid-template-columns:  1fr 3fr 1fr 2fr 1fr; /* Each item will take at least 200px and can stretch */
    gap: 16px; /* Space between grid items */
    width: calc(100% - 30px);
    height: calc(100% - 30px); 
    margin: 15px; 
    flex-direction: row;
    align-items: center;
  }
  
  .cart-item-details h2 {
    font-weight: 100px;
  }
  
  .remove-button {
    border: none;
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    cursor: pointer;
  }
  
  .remove-button:hover,
  .remove-button:focus {
    color: rgb(130, 130, 130);
  }

  .info-hover-container {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
  }
  
  .info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: #e06268;  /* Dark gray or any preferred color */
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .info-hover-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }



@media (max-width: 500px) {

  .cart-item-details {
    position: relative; /* Establishes a positioning context for the remove button */
    grid-template-columns:  1fr 3fr 1fr 2fr; /* Each item will take at least 200px and can stretch */
  }

    /* position the remove button so it sits on the bottom right of the container, not affected by other elements */
  .remove-button {
    position: absolute; /* Take it out of the normal flow */
    top: 0; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    font-size: 16px; /* Make sure it's not too large for the small screen */
    height: 2.5vw; /* Adjust height for smaller screens */
    width: auto; /* Let width adjust based on content */
   
  }
  .product-title {
    font-size: 1.15rem;
  }

  .item-info {
    font-size: 0.9rem;
  }

}