
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #ccc4ba;
    padding: 15px;
    border-radius: 4px;
  }

.back-button {
    position: absolute; /* Make the button fixed inside the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    margin: 10px; /* Optional: Add some margin if you want space from the edges */
  
    border: none;
    background-color: white;
    /* margin: 2%; */
    /* margin-left: 3%; */
    font-family: "Philosopher", sans-serif;
    font-size: 25px;
    color: rgb(95, 95, 95);
    cursor: pointer;
  }


.title {
    text-align: center;
    margin-bottom: 20px;
    color: #393838;
    text-shadow: 3px 3px 5px rgb(220, 220, 220);
}

.form-body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 800px;
    padding: 30px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-items {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-form-items {
    text-align: center;
}

.all-form-items input,
.all-form-items textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 4px;
    background-color: rgb(246, 246, 246);
    resize: none; 
}

.submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.submitButton {
    background-color: #EB838B;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    height: 50px;
    width: 150px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submitButton:hover {
    background-color: #cd6d75;;
}

.submitButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.custom-checkbox {
    border-radius: 4px;
    position: relative;
    cursor: pointer;
  }

/* .final-notes {
    text-align: center;
    padding: 30px;
} */
