<!-- Popup Modal -->
<div *ngIf='showCheckoutPopup' class="popup-overlay">
    <div class="popup-content">
      <div class="form-body">
        <button mat-button (click)="closePopup()" class="back-button">X</button>
        <h1 class="title">Checkout</h1>
        <!-- <p class="form-description">Description</p> -->
        <form #checkoutForm="ngForm" (ngSubmit)="confirmCheckout()">
          <div class="all-form-items">
            <div class="form-items">
                <!-- Name field -->
                <div class="form-item">
                    <label for="name">Full Name</label>
                    <input type="text" [(ngModel)]="this.name" id="name" name="name" maxlength="50" required ngModel>
                  </div>
  
                <!-- Email field -->
                <div class="form-item">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="this.email" id="email" name="email" maxlength="80" required ngModel>
                  </div>
  
                <div class="form-item">
                  <label for="phone-number">Phone Number</label>
                  <input type="tel" [(ngModel)]="this.phoneNumber" id="phone-number" name="phone-number" pattern="[0-9]*" inputmode="numeric" maxlength="10" required ngModel>
                </div>
            </div>
            <br>
            <!-- Message field -->
            <div class="form-item">
                <label for="message">Special Notes</label>
                <textarea id="message" [(ngModel)]="this.customerNotes" name="message" maxlength="400"></textarea>
              </div>
          </div>
            <!-- Agree to the terms and conditions -->
          <div class="checkboxes">
            <p>Terms:</p>
            <ul class="terms-list"> 
              <li>I understand that the deposit may be refunded after return of the items in undamaged condition. The condition decision will 
              be up to the owner and their disgression.</li>
              <li>I will NOT wash or remove anything from the rented items. Cleaning will be handled by the owner.</li>
            </ul>
            <div class="agree-box">
              <input type="checkbox" id="deposit-checkbox" name="deposit-checkbox" [(ngModel)]="isAgreed" value="deposit-checkbox" class="custom-checkbox">
              <label for="deposit-checkbox" class="agree-text"> I agree to the terms above</label>
            </div>
          </div>
          <!-- Submit button -->        
          <div class="submit-button-container">
            <button 
            class="submitButton" 
            [disabled]="!checkoutForm.valid || !isAgreed || isSubmitting" 
            type="submit">
            {{ isSubmitting ? 'Submitting...' : 'Confirm' }}
          </button>
          </div>
        </form>
      </div>  
    </div>
  </div>
  