.input-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.availability-checker {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 10px; /* Add gap between the date picker and button */
}

mat-hint {
    font-size: 0.6rem;
}

.reserve-button {
    height: 50px;
    color: rgb(60, 60, 60);
 }


@media (max-width: 500px) {

    .input-box {
        width: 200px;
        margin: 0;
    }

    .reserve-button {
        width: 100%;
        font-size: 0.75rem;
    }

    mat-label {
        font-size: 0.75rem;
    }

    mat-hint {
        padding: 0;
        margin: 0 -115px 0 -15px;
    }
    
}