.input-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.availability-checker {
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

mat-hint {
    font-size: 0.6rem;
    line-height: 1;
}

.label, .input {
    font-size: 14px;
    color: gray;
}

.reserve-button {
    height: 55px;
    width: 55px;
    color: rgb(60, 60, 60);
    font-size: 0.8rem;
 }

 .reserve-button:hover {
    cursor: pointer;
 }
