<body class="white-background">
    <h1 class="title green-background white-font">
        <img src="/images/how-it-works-hearts.png" class="title-hearts">
        CHECK OUT OUR PROCESS
        <img src="/images/how-it-works-hearts.png" class="title-hearts">
    </h1>
    <div class="steps-container">
        <div class="step">
            <div class="step-number">
                <img src="/images/shopping.png" alt="step 1" class="step-image">
            </div>
            <div class="step-description">
                <p><b><i>Choose Your Items</i></b><br>Browse our rental items and submit a reservation to secure them</p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">
                <img src="/favicon.ico" alt="step 2" class="step-image">
            </div>
            <div class="step-description">
                <p><b><i>Let's Talk Details</i></b><br>We’ll confirm your reservation within 3 days and talk details!</p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">
                <img src="/images/disco-ball.png" alt="step 3" class="step-image">
            </div>
            <div class="step-description">
                <p><b><i>Enjoy Your Event!</i></b><br>Keep the rentals for up to 5 days. enjoy your event and return all items after!</p>
            </div>
        </div>
    </div>


</body>