body {
    background-color: #FAFAF5;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100%;
}

.inspo-header {
  /* border: 1px solid black; */
  margin: 20px;
  width: 90%;
}

h1 {
}

.grid-container {
  columns: 4 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;

    img {
      width: 100%;
      border-radius: 5px;
    }

  }
}