<body>
    <div class="inspo-header">
        <h1 class="title">Inspiration</h1>
        <p class="description">Get inspired by our past events and see what we can do for you!</p>
    </div>
    <div class="photo-gallery-container">
        <!-- <div class="photo-gallery">
            *ngFor="let inspoPhotoLink of inspoPhotoLinks"
            <div class="photo">
                <img src="{{ inspoPhotoLink.url }}" alt="{{ inspoPhotoLink.alt }}" class="photo-image">
                <p class="photo-description">{{ photo.description }}</p>
            </div>
        </div> -->
    </div>
</body>
