<!-- <body>
    <div class="inspo-header">
        <h1 class="title">Inspiration</h1>
        <p class="description">Get inspired by our past events and see what we can do for you!</p>
    </div>
    <div class="photo-gallery-container">
        <div class="photo-gallery"> -->
            <!-- <div *ngFor="let photo of inspoPhotos" class="inspo-photo">
                <img [src]="photo" alt="Inspiration Photo">
            </div> -->
            <!-- <div class="photo">
                <img src="custom-black-mirror-sign.jpg" class="inspo-photo">
            </div>
            <div class="photo">
                <img src="custom-frosted-acrylic-sign-hanging.jpg" class="inspo-photo">
            </div>
            <div class="photo">
                <img src="custom-frosted-acrylic-sign-standing.jpg" class="inspo-photo">
            </div>
            <div class="photo">
                <img src="custom-gold-arched-mirror-sign.jpg" class="inspo-photo">
            </div> 
            <div class="photo"> 
                <img src="custom-gold-rectangle-mirror-sign.jpg" class="inspo-photo">
            </div>  
            <div class="photo">
                <img src="inspo-1.jpg" class="inspo-photo">
            </div>    
            <div class="photo">
                <img src="inspo-2.jpg" class="inspo-photo">
            </div>
            <div class="photo">
                <img src="oil-painting-seating-chart.jpg" class="inspo-photo">
            </div>
                
        </div>
    </div>
</body>

 -->

 <h1>The Purest of Doggos</h1>
<div class="grid-container">
  
    <div *ngFor="let photo of inspoPhotos" class="inspo-photo">
        <img [src]="photo" alt="Inspiration Photo">
    </div>
</div>