<body class="white-background">

    <div class="inspo-header">
        <h1 class="title">Inspo</h1>
        <p class="description">Event Inspiration Gallery: Discover how our custom creations and rentals can transform any occasion. Browse through our past designs and get inspired for your next event!</p>

    </div>
    <div class="grid-container">
        <div *ngFor="let photo of inspoPhotos" class="inspo-photo">
            <img [src]="photo" alt="Inspiration Photo">
        </div>
    </div>
</body>
<app-testimonials></app-testimonials>
