<body>

    <app-header></app-header>

    <app-hero></app-hero>

    <app-quick-view id="quick-view"></app-quick-view>

    <div class="social-media-banner">
        <div class="profile"></div>
        <div class="instagram profile">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <i class="fab fa-instagram"></i>
            <p>&nbsp;Follow us at final.touch.co</p>
        </div>
        <div class="profile"></div>
    </div>



    <app-about id="about"></app-about>

    <app-how-it-works></app-how-it-works>

    <!-- <app-contact-me></app-contact-me> -->

    <app-footer></app-footer>
</body>