/* src/app/product-page/product-page.component.css */

.product-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns for desktop */
  margin: 0 0 5% 0;
  height: 100%;
}

.path-container {
  display: flex;
}

.path { 
  cursor: pointer;
}

.path :hover {
  color: rgb(100, 100, 100); 
}

.subpage {
  color: rgb(165, 165, 165);
  padding: 40px 0 40px 10px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}
  
.product-image-box {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  height: 100%;
}

.product-description-container {
  margin: 0 15% 0 5%;
  padding: 5% 0;
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  justify-content: space-between; /* Pushes reserve-container to the bottom */
  align-items: flex-start; /* Aligns content to the left */
  position: relative; /* Establishes a positioning context */
}

.product-descriptions {
  flex: 1; /* Allows this section to take up remaining space */
  width: 100%; /* Ensures it spans the full width */
  margin-bottom: 1rem; /* Adds spacing between the descriptions and the reserve-container */
}

.product-image {
  aspect-ratio: 4/5;
  width: 80%;
  max-width: 450px;
  object-fit: cover;
  padding-right: 5%;
}


.product-name {
  font-size: 1.5rem;
  font-weight: normal;
}

.product-description {
  font-weight: normal;
  margin: 5% 10% 10% 5%;
  font-size: 1rem;
}

.price-container {
  background-image: url('/images/priceBackground.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  font-size: 1.25rem;
  width: 150px;
  height: auto;
  float: right; 
  margin-top: -30px;
  margin-right: 10%;
  text-align: center;
}

.reserve-container {
  display: flex;
  justify-content: center; /* Centers the reserve component horizontally */
  align-items: center; /* Centers the reserve component vertically */
  width: 100%; /* Ensures it spans the full width */
  position: relative; /* Ensures it stays within the parent container */
  margin-top: auto; /* Pushes the reserve-container to the bottom */
}

.footer-container {
  display: flex;
}

.deposit-container {
  display: flex; /* Aligns the images and text in a row */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Aligns the content vertically */
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
  overflow: hidden; /* Ensures the images crop when the container shrinks */
}

.deposit-text {
  padding: 20px;
  border-radius: 8px;
  flex-shrink: 0; /* Prevents the text box from shrinking */
  width: 350px;
  max-width: 90%; /* Sets a maximum width for the text box */
}

.deposit-line {
  object-fit: cover; /* Ensures the images crop instead of distorting */
  width: 100%; /* Makes the images responsive */
  height: auto; /* Maintains the aspect ratio */
  flex-shrink: 1; /* Allows the images to shrink when the container shrinks */
}


@media (max-width: 1000px) {

  .product-body {
    gap: 3vw;
    margin-left: 3%;
    margin-right: 3%;
  }

}

@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
  }

  .product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-description-container {
    height: auto;
    max-width: 500px;
    width: 80%;
    margin-top: -50px;
  }

  .product-image {
    width: 80%;
  }

  .product-image-box {
    justify-content: center;
    height: auto;
  }
}

@media (max-width: 500px) {

  .path {
    font-size: 1.2rem;
  }

  .subpage {
    font-size: 1rem;
  }

  .product-image-box {
    padding-bottom: 15px;
  }

  .product-descriptions {
    width: 100%;
  }

  .product-description {
    font-weight: normal;
    margin: 5%;
    font-size: 0.9rem;
  }

  .product-description-container {
    margin: 0;
    padding: 0;
  }

  .product-body {
    padding: 0;
    margin: 0;
  }

  .price-container {

    font-size: 1.2rem;
    width: 120px;
    margin-top: 0;
  }

  .deposit-text {
    flex-shrink: 0; /* Prevents the text box from shrinking */
    font-size: 0.8rem;
    width: 80%;
  }

}