/* src/app/product-page/product-page.component.css */
body {
  background-color: #FAFAF5;
  min-height: 100vh;
}

.product-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns for desktop */
  /* gap: 5vw; */
  margin: 0 0 5% 0;
  height: 100%;
}

.path-container {
  display: flex;
}

.path { 
  cursor: pointer;
}

.path :hover {
  color: rgb(100, 100, 100); 
}

.subpage {
  color: rgb(165, 165, 165);
  padding: 40px 0 40px 10px;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}
  
.product-image-box {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  height: 100%;
  /* border: 1px solid blue; */
}

.product-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  border: 1px solid red;
  margin: 0 15% 0 5%;
}

.product-description-container p {
  text-align: left; /* Aligns text to the left */
  justify-content: flex-start; /* Aligns content to the left */

}

.product-image {
  aspect-ratio: 4/5;
  width: 80%;
  max-width: 450px;
  object-fit: cover;
  padding-right: 5%;
}

.product-descriptions {
  margin-top: 10%;
  border: 1px solid green;
  /* display: flex;
  flex-direction: column; */
  /* text-align: left; */
}

.product-name {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
}

.product-description {
  font-size: 20px;
  font-weight: normal;
  margin: 10%;
  font-size: 1rem;
  text-align: left;
}

.price-container {
  background-image: url('/images/priceBackground.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  font-size: 1.25rem;
  width: 150px;
  height: auto;
  float: right;
  margin-top: -30px;
  margin-right: 10%;
}

.product-description-container p {
  text-align: center;
  justify-content: center;
}

.cart-button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  display: flex;
}

.footer-image-container {
  width: 100%;
  background-image: url('/images/productFooter.png');
  background-size: cover;
}

.deposit-container { 
  width: 100%;
  background-color: #c1d5e4;
  text-align: center;
  font-style: italic;
}

.deposit-container p {
  padding: 3rem;

}

@media (max-width: 1000px) {

  .product-body {
    gap: 3vw;
    margin-left: 3%;
    margin-right: 3%;
  }

  .product-description h2 {
    font-size: 18px;
  }  
}

@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
  }

  .product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-description-container {
    height: auto;
    max-width: 500px;
    width: 80%;
    margin-top: -50px;
  }

  .product-image {
    width: 80%;
  }

  .product-image-box {
    justify-content: center;
    height: auto;
  }
}